.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #313541;
    border: none !important;
}

.navbar-inverse .navbar-brand.header-brand {
    color: #ffffff !important;
}

.navbar-inverse .navbar-brand.header-brand:hover {
    color: #ffffff !important;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #313541 !important;
    border-bottom: 2px solid #0094e5;
    color: #ffffff !important;
    font-weight: 600;
}