.weather-details-module {
    margin-bottom: 25px;
}

.weather-details {
    font-size: 16px;
}

.weather-details-value {
    display: inline-block;
}

.weather-search-module {
    margin-bottom: 25px;
}

.weather-statistics-module {
    margin-bottom: 25px;
}
