<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Intelligent Home - ' + ${#authentication.name}">welcome</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="../../../resources/css/header.css" rel="stylesheet" media="screen" th:href="@{/resources/css/header.css}" />
    <link href="../../../resources/css/weather-module.css" rel="stylesheet" media="screen" th:href="@{/resources/css/weather-module.css}" />
    <link href="../../../resources/css/map-module.css" rel="stylesheet" media="screen" th:href="@{/resources/css/map-module.css}" />
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/weather-icons.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/weather-icons.min.css}"/>
    <link href="../../../resources/css/weather-icons-wind.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/weather-icons-wind.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />

    <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
    <script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZseZXpWTYc2Z2aI4mJEtoLz8WUYQCITM&amp;libraries=places" type="text/javascript"></script>

    <script src="../../../resources/js/handlebars-v4.0.5.js" th:src="@{/resources/js/handlebars-v4.0.5.js}" type="text/javascript" ></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}" type="text/javascript" ></script>

    <script src="../../../resources/js/map/map.js" th:src="@{/resources/js/map/map.js}" type="text/javascript" ></script>
    <script src="../../../resources/js/chart/weather-chart.js" th:src="@{/resources/js/chart/weather-chart.js}" type="text/javascript" ></script>
    <script src="../../../resources/js/autocomplete/geo-autocomplete.js" th:src="@{/resources/js/autocomplete/geo-autocomplete.js}" type="text/javascript"></script>

    <script id="weather-modal" type="text/x-handlebars-template">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="weather-modal-label">{{city}}</h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="page-header">
                    <h4>Forecast</h4>
                </div>
                {{#each dailyForecasts}}
                <div class="col-sm-4 col-xs-12 text-capitalize weather-statistics-module">
                    <div class="weather-details-value">
                        <div class="row">
                            <div class="col-xs-12 weather-details-value">
                                {{date}}
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-4 col-xs-12 weather-details-value">min</div>
                                <div class="col-sm-4 col-xs-12 weather-details-value">avg</div>
                                <div class="col-sm-4 col-xs-12 weather-details-value">max</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-xs-12 weather-details-value">
                                    {{minTemperature}}
                                </div>
                                <div class="col-sm-4 col-xs-12 weather-details-value">
                                    {{temperature}}
                                </div>
                                <div class="col-sm-4 col-xs-12 weather-details-value">
                                    {{maxTemperature}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="page-header">
                    <h4>User temperature sensors' average</h4>
                    <small>Last 5 day averages</small>
                </div>
                <div class="col-xs-12 text-capitalize weather-statistics-module">
                    {{#if statistics}}
                    <div class="col-xs-4">
                        Average: {{statistics.average}}
                    </div>
                    <div class="col-xs-4">
                        Max: {{statistics.max}}
                    </div>
                    <div class="col-xs-4">
                        Min: {{statistics.min}}
                    </div>
                    {{else}}
                    <div class="col-xs-12">
                        No data available
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="modal-footer">
                <div id="modal-weather-search-chart" class="weather-forecast-chart" height="300px">
                </div>
            </div>
        </div>
    </script>
</head>
<body>
<div th:replace="fragments/header :: header (page='home')">&nbsp;</div>
<div class="jumbotron center-block text-center">
    <h2>Raspberry Pi Based Intelligent Home</h2>
</div>
<div class="container thor-wrapper">
    <div class="center-block text-center col-xs-12">
        <!-- /* Handle the flash message */-->
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
        </th:block>
        <div th:replace="fragments/weather-module :: weather-module">weather</div>
    </div>
    <div class="col-xs-12" th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>