<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Intelligent Home - ' + ${#authentication.name}">welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/header.css" rel="stylesheet" media="screen" th:href="@{/resources/css/header.css}" />
    <link href="../../../resources/css/weather-module.css" rel="stylesheet" media="screen" th:href="@{/resources/css/weather-module.css}" />
    <link href="../../../resources/css/map-module.css" rel="stylesheet" media="screen" th:href="@{/resources/css/map-module.css}" />
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/weather-icons.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/weather-icons.min.css}"/>
    <link href="../../../resources/css/weather-icons-wind.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/weather-icons-wind.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZseZXpWTYc2Z2aI4mJEtoLz8WUYQCITM"></script>
    <script src="../../../resources/js/map/map.js" th:src="@{/resources/js/map/map.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header (page='home')">&nbsp;</div>
<div class="jumbotron center-block text-center">
    <h2>Raspberry Pi Based Intelligent Home</h2>
</div>
<div class="container thor-wrapper">
    <div class="center-block text-center col-xs-12">
        <!-- /* Handle the flash message */-->
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
        </th:block>
        <div th:replace="fragments/weather-module :: weather-module">weather</div>
    </div>
    <div class="col-xs-12" th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>