<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/measurement-module.css" rel="stylesheet" media="screen" th:href="@{/resources/css/measurement-module.css}" />
    <link href="../../../resources/css/map-module.css" rel="stylesheet" media="screen" th:href="@{/resources/css/map-module.css}" />
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-datetimepicker.min.css}"/>
    <link href="../../../resources/css/weather-icons.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/weather-icons.min.css}"/>
    <link href="../../../resources/css/weather-icons-wind.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/weather-icons-wind.min.css}"/>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZseZXpWTYc2Z2aI4mJEtoLz8WUYQCITM"></script>
    <script src="../../../resources/js/map/sensor-map.js" th:src="@{/resources/js/map/sensor-map.js}"></script>
    <script src="../../../resources/js/chart/chart.js" th:src="@{/resources/js/chart/chart.js}"></script>
    <script src="../../../resources/js/moment-with-locales.min.js" th:src="@{/resources/js/moment-with-locales.min.js}"></script>
    <script src="../../../resources/js/bootstrap-datetimepicker.min.js" th:src="@{/resources/js/bootstrap-datetimepicker.min.js}"></script>
</head>
<body>
<div th:fragment="measurements-module">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a data-toggle="tab" href="#measurement-results">Measurement Results</a></li>
        <li role="presentation" th:each="sensor : ${sensors}">
            <a data-toggle="tab" th:attr="href='#' + ${sensor.name}" th:text="${sensor.name}">sensor name</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="measurement-results" class="tab-pane fade in active">
            <div class="page-header">
                <h3 th:text="${#authentication.name} + ' measurement results'">measurement results</h3>
            </div>
        </div>

        <div class="tab-pane fade" th:id="${sensor.name}" th:each="sensor, sensorStatus : ${sensors}">
            <div class="page-header">
                <h3 th:text="${sensor.name}">sensor name</h3>
            </div>

            <div class="container-fluid">
                <div class="page-header">
                    <h4>Statistics - <small th:text="${sensor.name}">sensor name</small></h4>
                </div>

                <div class="panel panel-default col-xs-4 remove-padding" th:each="stat : ${sensor.measurementResultStatistics}">
                    <div class="panel-heading">
                        <h6 class="panel-title text-capitalize" th:text="${stat.key.description}">title</h6>
                    </div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-6">Average: </div>
                                <div class="col-xs-6" th:if="${stat.value.average} != 0"
                                     th:text="${stat.value.average}">average</div>
                                <div class="col-xs-6" th:if="${stat.value.average} == 0 "
                                     th:text="'N/A'">average</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">Maximum: </div>
                                <div class="col-xs-6" th:if="${stat.value.max} != 0"
                                     th:text="${stat.value.max}">max</div>
                                <div class="col-xs-6" th:if="${stat.value.max} == 0"
                                     th:text="'N/A'">max</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">Minimum: </div>
                                <div class="col-xs-6" th:if="${stat.value.min} != 0"
                                     th:text="${stat.value.min}">min</div>
                                <div class="col-xs-6" th:if="${stat.value.min} == 0"
                                     th:text="'N/A'">min</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="page-header">
                    <h4>Chart - <small th:text="${sensor.name}">sensor name</small></h4>
                </div>


                <form class="form-inline container-fluid text-center date-picker-form" action="#" method="get"
                      th:action="'#'" th:attr="data-url='/' + ${#authentication.name} + '/sensors/' + ${sensor.name} + '/get',
                      data-sensor=${sensor.name}">
                    <div class="form-group col-xs-4">
                        <label for="startDate" class="control-label">start date</label>
                        <div th:id="'datetimepicker-' + ${sensor.name}" class="input-group date datetimepicker-form datetimepicker-start">
                            <input type="text" class="form-control" id="startDate" name="startDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-xs-4">
                        <label for="endDate" class="control-label">end date</label>
                        <div th:id="'datetimepicker-' + ${sensor.name}" class="input-group date datetimepicker-form datetimepicker-end">
                            <input type="text" class="form-control" id="endDate" name="endDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-xs-4">
                        <button type="submit" class="btn btn-default">Update</button>
                    </div>
                </form>

                <div class="col-xs-12">
                    <div th:if="${sensor.name != 'motion'}"
                         th:id="'measurement-results-chart-' + ${sensor.name}" class="measurement-results-chart"
                         th:height="750px"
                         th:attr="data-url='/' + ${#authentication.name} + '/sensors/' + ${sensor.name} + '/get/results'">
                    </div>

                    <div th:if="${sensor.name == 'motion'}"
                         id="measurement-results-chart-motion"
                         th:height="750px"
                         th:attr="data-url='/' + ${#authentication.name} + '/sensors/' + ${sensor.name} + '/get/results'">
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="page-header">
                    <h4>List - <small th:text="${sensor.name}">sensor name</small></h4>
                </div>
                <div class="panel panel-default text-left">
                    <div class="panel-heading" th:text="${sensor.name}">results</div>
                    <table th:id="'measurement-result-table-parent' + ${sensor.name}" class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="sensor-module" th:classappend="${(result.value &gt; sensor.maxAlert) or (sensor.minAlert &gt; result.value)} ? 'danger' : ''"
                                    th:attr="data-number=${resultStatus.index} + 1"
                                    th:each="result, resultStatus : ${sensor.measurementResults}">
                                <th scope="row" th:text="${resultStatus.index} + 1">#</th>
                                <td th:text="${result.date}">sensor name</td>
                                <td th:text="${result.value}">measurement results</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>