<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/sensor-module.css" rel="stylesheet" media="screen" th:href="@{/resources/css/sensor-module.css}" />
    <link href="../../../resources/css/map-module.css" rel="stylesheet" media="screen" th:href="@{/resources/css/map-module.css}" />
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/weather-icons.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/weather-icons.min.css}"/>
    <link href="../../../resources/css/weather-icons-wind.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/weather-icons-wind.min.css}"/>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZseZXpWTYc2Z2aI4mJEtoLz8WUYQCITM"></script>
    <script src="../../../resources/js/map/sensor-map.js" th:src="@{/resources/js/map/sensor-map.js}"></script>
</head>
<body>
<div th:fragment="sensor-module">
    <th:block th:if="${error != null}">
        <div th:replace="fragments/alert :: alert (type='danger', message=${error})">error message</div>
    </th:block>
    <th:block th:if="${success != null}">
        <div th:replace="fragments/alert :: alert (type='success', message=${success})">success message</div>
    </th:block>
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a data-toggle="tab" href="#sensors">Sensors</a></li>
        <li role="presentation"><a data-toggle="tab" href="#alerts">Alerts</a></li>
        <li role="presentation"
            th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <a data-toggle="tab" href="#add-sensor">New sensor</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="sensors" class="tab-pane fade in active">
            <div class="page-header">
                <h3 th:text="${#authentication.name} + ' sensor list'">sensor list</h3>
            </div>
            <div class="container-fluid">
                <div class="panel panel-default text-left">
                    <div class="panel-heading">Sensors</div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Sensor name</th>
                            <th>Measurement results</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="sensor-module" th:attr="data-lat=${sensor.location.x}, data-lon=${sensor.location.y}, data-number=${status.index} + 1" th:each="sensor,status : ${sensors}">
                            <th scope="row" th:text="${status.index} + 1">#</th>
                            <td th:text="${sensor.name}">sensor name</td>
                            <td th:text="${sensor.measurementResults} != null ? ${sensor.measurementResults.size()} : 0">measurement results</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="container-fluid">
                    <div id="map" class="row center-block"></div>
                </div>
            </div>
        </div>

        <div id="alerts" class="tab-pane fade">
            <div class="page-header">
                <h3>Modify Sensor Alerts</h3>
            </div>
            <form id="set-alert-form" class="form-inline text-center" action="#" method="post"
                  th:action="'/' + ${#authentication.name} + '/sensors/save/alert'">
                <fieldset>
                    <div class="input-group text-center">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                        <div class="form-group">
                            <input type="text" class="form-control" id="maxAlertValue" name="maxAlertValue" placeholder="value" />
                        </div>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-minus"></i></span>
                        <div class="form-group">
                            <input type="text" class="form-control" id="minAlertValue" name="minAlertValue" placeholder="value" />
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="sensorAlert" id="sensorAlert">
                                <option class="input-group-addon"
                                        th:each="sensor : ${sensors}"
                                        th:value="${sensor.name}" th:text="${sensor.name}">
                                    sensor name
                                </option>
                            </select>
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Save</button>
                        </span>
                    </div>
                </fieldset>
            </form>
        </div>

        <div id="add-sensor" class="tab-pane fade"
             th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <div class="page-header">
                <h3>New sensor</h3>
            </div>

            <form id="new-sensor-form" class="form-horizontal useraction-form" action="#" method="post"
                  th:action="'/' + ${#authentication.name} + '/sensors/save'">
                <fieldset>
                    <legend class="form-legend">Sensor properties</legend>

                    <div class="form-group">
                        <label for="sensorName" class="col-lg-2 control-label">Sensor name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="sensorName" placeholder="sensor name" name="sensorName" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="address" class="col-lg-2 control-label">Sensor location</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="address" placeholder="address" name="address" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>